<h4>
  <%= section.title? ? section.title : 'Параграф без названия' %>
  <%= link_to 'Редактировать', edit_book_chapter_section_path(@book, @chapter, section), :class => 'btn btn-link' %>
</h4>

<p>
  <%= section.text %>
</p>


