<h4><%= @book.title %></h4>

<h5>Оглавление:</h5>
<ul class="list-group js-sortable js-connected-sortable" data-sort-url="<%= book_sort_path(@book) %>">
  <%= render @book.chapters %>
</ul>

<div>
  <%= link_to 'Добавить главу', new_book_chapter_path(@book), :class => 'btn btn-blue' %>
</div>
